<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CheckUp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DEF85E011FB51FD600EA2FB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DEF85E1D1FB51FD700EA2FB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DEF85E281FB51FD700EA2FB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
